{:kotoba.app/id "cloud.itonami.isic-4950", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreidkhoquatksq3gmswbgi2aufdamm22tqcxvsnzayw6cha2tl6gr3y", :kotoba.app/embed-url "ipfs://bafkreidkhoquatksq3gmswbgi2aufdamm22tqcxvsnzayw6cha2tl6gr3y", :published {:archive "https://kotobase.net/ipfs/bafkreidkhoquatksq3gmswbgi2aufdamm22tqcxvsnzayw6cha2tl6gr3y", :size 72651, :put-status 201, :get-status 200, :at "2026-08-15T13:44:53.329Z"}}
